[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
scikit-learn = "*"
dill = "*"
pandas = "*"
nltk = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
jupyterlab-rise = "*"

[dev-packages]

[requires]
python_version = "3.11"
